<html>
    <head>
        {% if title %}
        <title>{{ title }} - Music Ranker</title>
        {% else %}
        <title>Music Ranker</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body style="background-color: black; font-family: 'Inter', sans-serif;">
    <div style="background-color: #D8F3DC; border-radius: 24px; padding: 20px; max-width: 900px; margin: 0 auto">
    <h1 style="text-align: center; font-size: 60px; color: #40916C;">SongRanker</h1>
        <div style="background-color: #fff; border-radius: 20px; margin: 0px auto; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);">
          <div style="border-bottom: 1px solid #ddd; padding: 15px; position: relative; cursor: pointer;" onclick="toggleAnswer(1)">
            <h3 style="font-size: 18px; margin: 0; ">How Does Song Ranker Work?</h3>
            <div id="answer1" style="display: none; padding-top: 10px;">
              <p>Song Ranker is a data-driven site made for music geeks! Choose your favorite artists and decide 
                which of any two songs you like more. The ELO algorithm will determine a ranking for all the given songs
                you've chosen. Compare your results with other geeks, make playlists from your top picks, and consume data!</p>
            </div>
            <span style="position: absolute; top: 20px; right: 20px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #ddd;"></span>
          </div>
          <div style="border-bottom: 1px solid #ddd; padding: 15px; position: relative; cursor: pointer;" onclick="toggleAnswer(2)">
            <h3 style="font-size: 18px; margin: 0; " >Why was this Created?</h3>
            <div id="answer2" style="display: none; padding-top: 10px;">
              <p>The idea of Song Ranker is that it's usually pretty difficult to rank all of a given 
                artist's songs, even for huge fans. However, you CAN probably pick
                between any two randomly chosen songs from that artist. This is where ELO comes in. 
                ELO was created as a rating system for calculating the relative skill levels of players or teams.
                This concept was applied to music rather than sports, and voila!</p>
            </div>
            <span style="position: absolute; top: 20px; right: 20px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #ddd;"></span>
          </div>
          <div style="padding: 15px; position: relative; cursor: pointer;" onclick="toggleAnswer(3)">
            <h3 style="font-size: 18px; margin: 0; " >What is the ELO system?</h3>
            <div id="answer3" style="display: none; padding-top: 10px;">
              <p>Learn more about the ELO rating system <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here.</a></p>
            </div>
            <span style="position: absolute; top: 20px; right: 20px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #ddd;"></span>
          </div>
        </div>
      <script>
        function toggleAnswer(id) {
          const answer = document.getElementById('answer' + id);
          if (answer.style.display === 'none') {
            answer.style.display = 'block';
          } else {
            answer.style.display = 'none';
          }
        }
      </script>
      <div style="display: flex; justify-content: space-around; margin-bottom: 40px;">
      <div style="background-color: #fff; border-radius: 20px; margin: 0px auto; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); padding: 20px; margin-top: 20px; width: 100%; margin-right: 10px;">
        <div style="margin-top: -30px;">
            <h2 style="font-size: 36px;">Login</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
                <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
            </form>
        </div>
      </div>
      <div style="background-color: #fff; border-radius: 20px; margin: 0px auto; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); padding: 20px; margin-top: 20px; width: 100%; margin-left: 10px;">
        <div style="margin-top: -30px;">
            <h2 style="font-size: 36px;">Changelog</h2>
            <ul>
                <li>Platform Redesign</li>
                <li>Ranking Model Update</li>
            </ul>
        </div>
      </div>
      </div>
    </div>
    </body>
</html>