{% extends "based.html" %}

{% block centre %}
        {% if art != None %}
            <div class="album-list">
                <h2>Albums</h2>
                <h3>In Rotation: {{ album_data|length }}</h3>
                <form action="" method="get">
                    {% for x in album_data %}
                        <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                        <label>{{ x.name }}</label></br>
                    {% endfor %}
                </form> 
                <h3>Excluded: {{ album_data_off|length }}</h3>
                <form action="" method="get">
                    {% for x in album_data_off %}
                        <input type="submit" id="htmlo" name="alber2" value= {{ loop.index0 }}>
                        <label>{{ x.name }}</label></br>
                    {% endfor %}
                </form>
            </div>
            <div class='chooser'>
            
                <h2>Chooose</h2>
            <ul>
                <form action="" method="get">
                    {% if game_songs %}
                    <div class='choice-1'>
                        <img src= {{ images[0] }}></br>
                        <input type="submit" id="htmlo" name="songer" value=0>
                        <label>{{ game_songs[0].name }}</label>
                    </div>
                    <div class='choice-2'>
                        <img src= {{ images[1] }}></br>
                        <input type="submit" id="htmlo" name="songer" value=1>
                        <label>{{ game_songs[1].name }}</label>
                    </div>
                    {% endif %}
            </ul>
            <div class='rankings-link'>
                <a href="{{ url_for('main.ranks') }}">See Rankings</a>
            </div>
            </div>
        {% endif %}
{% endblock %}
