{% extends "based.html" %}

{% block centre %}
        {% if art != None %}
            <div class="album-list">
                <h2>Albums</h2>
                <h3>In Rotation: {{ album_data|length }}</h3>
                <form action="" method="get">
                    {% for x in album_data %}
                        <button type="submit" name="alber" id=a{{ loop.index0 }} value={{ loop.index0 }}></button>
                        <label for=a{{ loop.index0 }}>{{ x.name }}</label><br>
                    {% endfor %}
                </form> 
                <h3>Excluded: {{ album_data_off|length }}</h3>
                <form action="" method="get">
                    {% for x in album_data_off %}
                        <button type="submit" name="alber2" id=b{{ loop.index0 }} value={{ loop.index0 }}></button>
                        <label for=b{{ loop.index0 }}>{{ x.name }}</label><br>
                    {% endfor %}
                </form>
            </div>
            <div class='chooser'>
            
                <h2>Chooose</h2>
            <ul>
                <form action="" method="get">
                    {% if game_songs %}
                    <div class='choice-1'>
                        <button type="submit" name="songer" value=0>
                            <img src= {{ images[0] }}></br>
                            {{ game_songs[0].name }}
                        </button>
                        <!-- <img src= {{ images[0] }}></br>
                        <input type="submit" id="htmlo" name="songer" value=0>
                        <label>{{ game_songs[0].name }}</label> -->
                    </div>
                    <div class='choice-2'>
                        <button type="submit" name="songer" value=1>
                            <img src= {{ images[1] }}></br>
                            {{ game_songs[1].name }}
                        </button>
                    </div>
                    {% endif %}
            </ul>
            <div class='rankings-link'>
                <a href="{{ url_for('main.ranks') }}">See Rankings</a>
            </div>
            </div>
        {% endif %}
{% endblock %}
