<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
        <title>{{ title }} - Music Ranker</title>
        {% else %}
        <title>Music Ranker</title>
        {% endif %}
    </head>
    <body>
        <div class="wrapper">
            <nav class="topnav">
                <ul class='nav-list'>
                    <li class='nav-title'><h1>Song Ranker</h1></li>
                        <li><ul style="list-style-type: none;" class='items'>
                            <li>{{ current_user.username }}</li>
                            <li>Artists: {{ artistform.length }}</li>
                            <li>Rounds Played: {{ current_user.rounds }}</li>
                        </ul></li>
                </ul>
                <!-- <a href="{{ url_for('main.index') }}">Play</a>
                <a href="{{ url_for('main.ranks') }}">Rankings</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %} -->
            </nav>
            <div class="sidenav">
                <h2>Artists</h2>
                <form action="" method="post" novalidate>
                    {% for subfield in artistform.select_artist %}
                        <td>
                            <tr>{{ subfield }}</tr>
                            <tr>{{ subfield.label }}</tr><br>
                        </td>
                    {% endfor %}
                    <div>{{ artistform.submit() }}</div>
                    <div>{{ artistform.remove() }}</div>
                </form>
                <form action="" method="post" novalidate>
                    {{ newform.hidden_tag() }}
                    <p>
                        {{ newform.new_artist.label }}<br>
                        {{ newform.new_artist(size=32) }}
                    </p>
                    <p>{{ newform.submit() }}</p>
                </form>
            </div>
        </div>
        <div class="centrenav">
            <a href="{{ url_for('main.ranks') }}">Rankings</a>
            {% if art != None %}
                <h3>{{ art.name }}: {{ art.rounds }}</h3>
            {% endif %}
            <h2>Chooose</h2>
            <ul>
                <form action="" method="get">
                    {% for x in game_songs %}
                        <input type="submit" id="htmlo" name="songer" value= {{ loop.index0 }}>
                        <label>{{ x.name }}</label>
                        <img src= {{ images[loop.index0] }}>
                    {% endfor %}
                </form> 
            </ul>
            <h2>Albums</h2>
            <h3>In Rotation: {{ album_data|length }}</h3>
            <form action="" method="get">
                {% for x in album_data %}
                    <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                    <label>{{ x.name }}</label>
                {% endfor %}
            </form> 
            <h3>Excluded: {{ album_data_off|length }}</h3>
            <form action="" method="get">
                {% for x in album_data_off %}
                    <input type="submit" id="htmlo" name="alber2" value= {{ loop.index0 }}>
                    <label>{{ x.name }}</label>
                {% endfor %}
            </form>
            <a href="{{ url_for('main.ranks') }}">See Rankings</a>
        </div>
    </body>
    <div class="bottomnav">
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
</html>