{% extends "based.html" %}

{% block centre %}
<h2 style="font-weight: 700; font-size: 36px; margin-top: 30px; width: 100%; text-align: center;">Rankings</h2>
    {% if art != None %}
        <div style="display: flex; flex-direction: row; align-items: stretch; justify-content: center;">

            <div style="background-color: white; border-radius: 24px; padding: 20px; margin-right: 5px; padding-left: 30px; padding-right: 30px;" id="album-list2">
                <h2>Albums</h2>
                <div class='scroll-select'>
                <form action="" method="get">
                        {% for x in sort_albs %}
                        <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                        <label>{{ x.name }}: {{ x.score }}</label></br>
                        {% endfor %}
                </form>
                </div>
            </div>

            <div style="background-color: white; border-radius: 24px; padding: 20px; margin-left: 5px; padding-left: 30px; padding-right: 30px;" id="songs-from">
            {% if to_show is not none %}
                <h2>Songs From {{ to_show.name }}</h2>
                <div class='scroll-select'>
                <ul style="list-style: none; margin:0; padding:0">
                    {% for son in ordered %}
                        <li>{{ loop.index }}. {{ son.name }}: {{ son.score }}</li>
                    {% endfor %}
                </ul>
                </div>
                <div class='playing-link'>
                    <a href="{{ url_for('main.index') }}">Keep Playing</a>
                </div>
            {% else %}
                <h2>All Songs</h2>
                <div class='scroll-select'>
                <ul  style="list-style: none; margin:0; padding:0">
                    {% for top in topten %}
                        <li>{{ loop.index }}. {{ top.name }}: {{ top.score }}</li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
            </div>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 20px; display: flex; align-items: center; justify-content: center;">
            <p style="background-color: white; border-radius: 100px; padding: 20px; width: 20%;"><a href="{{ url_for('main.index') }}" style="text-decoration: none; color: black; font-weight: 700;" >Keep Playing</a></p>
        </div>
    {% endif %}
    
{% endblock %}