{% extends "based.html" %}

{% block centre %}
    <h1>Rankings</h1>
    <div class="album-list">
        <h2>Albums</h2>
        <form action="" method="get">
                {% for x in sort_albs %}
                    <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                    <label>{{ x.name }}: {{ x.score }}</label></br>
                {% endfor %}
        </form>
    </div>
    <div class='chooser'>
    {% if to_show.name != None %}
        <h2>Songs From {{ to_show.name }}</h2>
        <ol>
            {% for son in ordered %}
                <li>{{ son.name }}: {{ son.score }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <h2>All Songs</h2>
        <ol>
            {% for top in topten %}
                <li>{{ top.name }}: {{ top.score }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class='rankings-link'>
        <a href="{{ url_for('main.index') }}">Keep Playing</a>
    </div>
    </div>
{% endblock %}