html {
    font-size: 22px;
    overflow-y: scroll;
}

h1 {
    font-size: 48px;
}

.wrapper h2 {
    font-size: 40px;
    text-align: center;
}

li {
    font-size: 20px;
}

img {
    width:350px; /* you can use % */
    height: auto;
}

h3 {
    font-size: 20px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 14%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2C7DA0; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: 30px;
}

.buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2% 20%;
    gap: 10px;
}

.input {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1% 10%;
}

.artist{
    padding: 1% 10%;
    font-size: 20px;
}

.wrapper{
    display: flex;
    position: relative;
}

nav {
    width: 100%; /* Set the width of the sidebar */
    margin-left: 200px;
}

.topnav {
    height: 15%; /* Full-height: remove this if you want "auto" height */
    width: 86%; /* Set the width of the sidebar */
    top: 0;
    right: 0;
    background-color: #89C2D9;
    overflow: hidden;
    position: fixed;
    justify-content: space-between;
}

.nav-title {
    float: none;
    position:
     absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: large; */
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.items {
    /* -webkit-flex-direction: column; */
    flex-direction: column;
    float: left;
    list-style: none;
    margin-right: 2rem;
}


.title {
    justify-content: center;
}

.info {
    text-align: left;
}


.centrenav {
    height: 77%; /* Full-height: remove this if you want "auto" height */
    width: 86%; /* Set the width of the sidebar */
    bottom: 8%;
    right: 0;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;
    /* color: white; */
}

.album-list {
    text-align: left;
    height: 77%; /* Full-height: remove this if you want "auto" height */
    width: 26%; /* Set the width of the sidebar */
    bottom: 8%;
    right: 56%;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;
}

#album-list2 {
    background-color: #D0E9F1; 
}

.chooser {
    text-align: center;
    height: 77%; /* Full-height: remove this if you want "auto" height */
    width: 56%; /* Set the width of the sidebar */
    bottom: 8%;
    right: 0;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;

}

#songs-from {
    background-color: #D0E9F1; 
}

.ranking {
    display: flex;
    margin-left: 2%;
}

.flex-child {
    flex: 1;
}


.choice-1 {
    text-align: center;
    height: 53%; /* Full-height: remove this if you want "auto" height */
    width: 28%; /* Set the width of the sidebar */
    bottom: 18%;
    right: 28%;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;

}

.choice-2 {
    text-align: center;
    height: 53%; /* Full-height: remove this if you want "auto" height */
    width: 28%; /* Set the width of the sidebar */
    bottom: 18%;
    right: 0;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;

}

.playing-link {
    text-align: center;
    background-color: #D0E9F1; 
    margin-top: 20px;
}

.rankings-link {
    text-align: center;
    height: 10%; /* Full-height: remove this if you want "auto" height */
    width: 56%; /* Set the width of the sidebar */
    bottom: 8%;
    right: 0;
    background-color: #D0E9F1; 
    overflow: hidden;
    position: fixed;

}

.bottomnav {
    height: 8%;
    width: 100%; /* Set the width of the sidebar */
    bottom: 0;
    left: 0;
    background-color: #89C2D9;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.bottom-right-child {
    height: 5%;
    width: 5%; /* Set the width of the sidebar */
    bottom: 0;
    right: 0;
    background-color: #89C2D9;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
}