<!doctype html>
<html>
	<head>
		<title>Song Ranker</title>
        <meta charset="utf-8"/>
	</head>
	<body>
		<h1>Song Ranker</h1>
        <h2>Artists</h2>
        <!-- <form action="" method="get">
            {% for art in artist_data %}
                <label for=chosen_artist>{{ art.name }}</label><br>
            {% endfor %}
                <input type="text" name="chosen_artist" >
               <input type="submit" name="chosen_artist">
        </form> -->
        <form action="" method="get">
            {% for art in artist_data %}
                <input type="radio" id="html" name="chosen_artist" value={{ art.val }}>
                <label for="html">{{ art.name }}</label><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form> 
        <h2>Albums</h2>
        <ul>
            {% for alb in album_data %}
                <li>{{ alb.name }}: {{alb.on}}</li>
            {% endfor %}
        </ul>
        <h2>Rankings</h2>
        <ol>
            {% for top in topten %}
                <li>{{ top.name }}</li>
            {% endfor %}
        </ol>
        <h2>Chooose</h2>
        <form action="" method="get">
            {% for song in song_data %}
                    <input type="radio" id="html" name="chosen_song" value={{ song.val }}>
                    <label for="html">{{ song.name }}</label><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form> 
	</body>
</html>