{% extends 'bootstrap/base.html' %}
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Music Ranker</title>
        {% else %}
        <title>Music Ranker</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div>
            Song Ranker:
            <a href="{{ url_for('main.index') }}">Play</a>
            <a href="{{ url_for('main.ranks') }}">Rankings</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>