{% extends "base.html" %}

    {% block content %}
        <h1>Hi, {{ current_user.username }}!</h1>
		<h1>Song Ranker</h1>
        <h2>Artists</h2>
        <form action="" method="post" novalidate>
            {% for subfield in artistform.select_artist %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
            <p>{{ artistform.submit() }}</p>
        </form>
        <form action="" method="post" novalidate>
            {{ newform.hidden_tag() }}
            <p>
                {{ newform.new_artist.label }}<br>
                {{ newform.new_artist(size=32) }}
            </p>
            <p>{{ newform.submit() }}</p>
        </form>
        <h2>Albums</h2>
        <ul>
            {% for alb in album_data %}
                <li>{{ alb.name }}</li>
            {% endfor %}
        </ul>
        <h2>Chooose</h2>
        <ul>
            <form action="" method="get">
                <input type="hidden" id="htmlo" name="song1" value=0>
                <input type="submit" value="Submit">
                <label for="htmlo">{{ songa.name }}</label>
            </form> 
            <form action="" method="get">
                <input type="hidden" id="htmlo" name="song2" value=1>
                <input type="submit" value="Submit">
                <label for="htmlo">{{ songo.name }}</label>
            </form> 
        </ul>
        <h2>Rankings</h2>
        <ol>
            {% for top in topten %}
                <li>{{ top.name }}: {{ top.score }}</li>
            {% endfor %}
        </ol>
    {% endblock %}