<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% if title %}
        <title>{{ title }} - Music Ranker</title>
        {% else %}
        <title>Music Ranker</title>
        {% endif %}
    </head>
    <body>
        <div>
            Song Ranker:
            <a href="{{ url_for('index') }}">Play</a>
            <a href="{{ url_for('ranks') }}">Rankings</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Hi, {{ current_user.username }}! You played {{ current_user.rounds }} rounds!</h1>
        <h1>Song Ranker</h1>
        <h2>Artists</h2>
        <div class="sidenav">
            <form action="" method="post" novalidate>
                {% for subfield in artistform.select_artist %}
                    <ul>
                        <li>{{ subfield }}</li>
                        <li>{{ subfield.label }}</li>
                    </ul>
                {% endfor %}
                <p>{{ artistform.submit() }}</p>
            </form>
        </div>
        {% if art != None %}
            <h3>{{ art.name }}: {{ art.rounds }}</h3>
        {% endif %}
        <form action="" method="post" novalidate>
            {{ newform.hidden_tag() }}
            <p>
                {{ newform.new_artist.label }}<br>
                {{ newform.new_artist(size=32) }}
            </p>
            <p>{{ newform.submit() }}</p>
        </form>
        <h2>Chooose</h2>
        <ul>
            <form action="" method="get">
                {% for x in game_songs %}
                    <input type="submit" id="htmlo" name="songer" value= {{ loop.index0 }}>
                    <label>{{ x.name }}</label>
                {% endfor %}
            </form> 
        </ul>
        <h2>Albums</h2>
        <h3>In Rotation</h3>
        <form action="" method="get">
            {% for x in album_data %}
                <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                <label>{{ x.name }}</label>
            {% endfor %}
        </form> 
        <h3>Excluded</h3>
        <form action="" method="get">
            {% for x in album_data_off %}
                <input type="submit" id="htmlo" name="alber2" value= {{ loop.index0 }}>
                <label>{{ x.name }}</label>
            {% endfor %}
        </form>
    </body>
</html>