{% extends "choice.html" %}
    {% block content2 %}
    <h1>Rankings</h1>
    <h2>Songs</h2>
    <ol>
        {% for top in topten %}
            <li>{{ top.name }}: {{ top.score }}</li>
        {% endfor %}
    </ol>
    <h2>Albums</h2>
    <form action="" method="get">
            {% for x in sort_albs %}
                <input type="submit" id="htmlo" name="alber" value= {{ loop.index0 }}>
                <label>{{ x.name }}: {{ x.score }}</label>
            {% endfor %}
        </form> 
    {% if to_show.name != None %}
        <h3>{{ to_show.name }}</h3>
        <ol>
            {% for son in ordered %}
                <li>{{ son.name }}: {{ son.score }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    {% endblock %}